body {
  background-color: #243a36;
  /* background-image: linear-gradient(#2193b0,#6dd5ed); */
  color: #fff;
}

.card-text {
  color: #fff;
}
.card-title {
  color: #fff;
}
.card {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.navbar {
  position: fixed;
  z-index: 11111;
  width: 100%;
  top: 0;
  left: 0;
}

.headingText {
  margin-top: 80px !important;
}
